* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #fff;
    color: #333333;
    font-size: 16px;
}

html, body,
button {
    font-family: 'Open Sans', sans-serif;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}

h2 {
    color: #87898b;
    font-weight: 300;
    font-size: 1.2rem;
}


button.primary {
    font-weight: 700;
    font-size: 1rem;
    justify-content: center;
    background-color: #008184;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1.28px;
    line-height: normal;
    outline: none;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 32px;
    text-transform: uppercase;
    box-sizing: border-box;
}

button.primary:hover {
    background-color: #005c5f;
}

button.secondary {
    font-weight: 700;
    font-size: 1rem;
    justify-content: center;

    color: #008184;
    background-color: transparent;
    border: 2px solid #008184;

    cursor: pointer;
    letter-spacing: 1.28px;
    line-height: normal;
    outline: none;
    padding: 8px 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    border-radius: 32px;
    text-transform: uppercase;
}

button.secondary:hover {
    background-color: rgba(0, 92, 95, .2);
}

div#container {
    height: 100%;
    padding: 50px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

div#file-drop-area {
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25rem;
    gap: 20px;
    padding: 25px;

    min-height: 100px;
    margin: 0px 60px;    
    background-color: rgb(252,252,252);
    border-radius: 20px;
    border: rgb(195,218,255) 2px dashed;
    transition: all 0.3s ease-in-out;
}

div.file-drop-hovered {
    background-color: rgb(241,246,254) !important;
    transform: scale(1.025);
}

div#file-drop-area a, a:link, a:active, a:focus, a:visited {
    text-decoration: none;
    color: rgb(103,163,255);
}

img#drop-area {
    width: 100px;
    height: 100px;
    opacity: 0.65;
}

div#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

footer {
    color: #a8a9ab;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}